<input type="text" name="departure" value="<%= boxInfo.departure%>">
<label>Departure</label>
<br><br>

<input type="text" name="arrival" value="<%= boxInfo.arrival%>">
<label>Arrival </label>
<br><br>

<input type="text" name="date" value="<%= boxInfo.date%>">
<label>Date</label>
<br><br>

<input type="text" name="time" value="<%= boxInfo.time%>">
<label>Time</label>
<br><br>

<input type="text" name="from_location" value="<%= boxInfo.from_location%>">
<label>From</label>
<br><br>


<input type="text" name="to_location" value="<%= boxInfo.to_location%>">
<label>To</label>
<br><br>

<input type="text" name="number_of_sits" value="<%= boxInfo.number_of_sits%>">
<label>Number of sits</label>
<br><br>