<input type="text" name="departure" value="<%= boxInfo.departure%>">
<label>departure</label>
<br><br>

<input type="text" name="arrival" value="<%= boxInfo.arrival%>">
<label>arrival </label>
<br><br>

<input type="text" name="date" value="<%= boxInfo.date%>">
<label>date</label>
<br><br>

<input type="text" name="time" value="<%= boxInfo.time%>">
<label>time</label>
<br><br>

<input type="text" name="from_location" value="<%= boxInfo.from_location%>">
<label>place of departure</label>
<br><br>


<input type="text" name="to_location" value="<%= boxInfo.to_location%>">
<label>place of arrival</label>
<br><br>

<input type="text" name="number_of_sits" value="<%= boxInfo.number_of_sits%>">
<label>number of sits</label>
<br><br>