<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="http://127.0.0.1:5500/" target="_blank"> -->

    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/transport.js"></script>

    <title>Family Management App</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/menu.ejs') %>

            <div class="content-container">
                <main class="grid-content transport-content" id="content">
                    <% for (var i = 0; i < info.length; i++){ %>
                        <article class="grid-item ride" id="box_number_<%= i %>">
                            <h1><i class="fa fa-map-marker"></i>
                                <%= info[i].departure %> <i class="fa fa-chevron-right"></i>
                                    <%= info[i].arrival %>
                            </h1><br>
                            <p><i class="fa fa-calendar"></i>
                                <%= info[i].date %>
                            </p><br>
                            <p><i class="fa fa-clock-o"></i>
                                <%= info[i].time %>
                            </p><br>
                            <p><i class="fa fa-map-marker"></i>
                                <%= info[i].from_location %>
                            </p><br>
                            <p><i class="fa fa-map-marker"></i>
                                <%= info[i].to_location %>
                            </p><br>
                            <p><i class="fa fa-child"></i>
                                <%= info[i].number_of_sits %>
                            </p><br>
                            <p><i class="fa fa-child"></i>Comeing: </p><br>
                            <button id="button_number_<%= i %>"><a href="/transports/new">Add person</a></button>
                        </article>
                        <% } %>

                            <article id="add-content" class="grid-item ride center-button">
                                <button id="add"><a href="/transports/new" id="go_to_new">Add Transport</a></button>
                            </article>
                </main>
            </div>

            <%- include('../partials/footer.ejs') %>
</body>

</html>